absl-py==0.12.0
altgraph==0.17.2
appdirs==1.4.4
argcomplete==1.12.3
asttokens
audioread==2.1.9
backcall
Bottleneck==1.3.4
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.0.6
click==8.0.3
cycler==0.10.0
debugpy
decorator
entrypoints
executing
filelock==3.0.12
gdown==3.13.1
gitdb==4.0.9
GitPython==3.1.26
h5py==3.6.0
htk-io==0.5
idna==3.2
ipykernel==6.9.1
ipython
jedi
joblib==1.0.1
jupyter-client
jupyter-core
kaldiio==2.17.2
kiwisolver==1.3.2
librosa==0.8.1
llvmlite==0.38.1
matplotlib==3.4.3
matplotlib-inline
# mcd==0.4
# mkl-fft==1.3.1
# mkl-random
# mkl-service==2.4.0
nara-wpe==0.0.7
nest-asyncio
noisereduce==2.0.0
numba==0.55.1
ortools==8.2.8710
packaging==21.0
parso
pexpect
pickleshare
Pillow==8.3.2
pooch==1.5.1
praat-textgrids==1.3.1
progressbar==2.5
prompt-toolkit
protobuf==3.18.0
ptyprocess==0.7.0
pure-eval
# pybullet==3.2.5 ??
pycparser==2.20
Pygments
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil
PyYAML==5.4.1
pyzmq==22.3.0
requests==2.26.0
resampy==0.2.2
scikit-learn==0.24.2
scipy==1.7.1
six
smmap==5.0.0
SoundFile==0.10.3.post1
stack-data
tensorboardX==2.4
threadpoolctl==2.2.0
toml==0.10.2
torch==1.9.1
torchaudio==0.9.1
torchcrepe==0.0.15
torchlibrosa==0.0.7
tornado
tqdm==4.62.3
traitlets
typing-extensions
urllib3==1.26.7
voicefixer==0.0.17
wcwidth
xmltodict==0.12.0
yq==2.12.2